<div class="upload-container">
  <h2 class="upload_title">Upload MP4</h2>

  <input
    class="upload-input"
    #fileUpload
    type="file"
    id="fileInput"
    accept="video/mp4"
    (change)="onFileSelected($event)"
  />

  <div class="upload-functionality">
    <app-button
      class="upload-button"
      *ngFor="let button of buttonMap; trackBy: trackButton"
      [text]="button.text"
      [loading]="loading"
      (click)="
        button.method === 'downloadFile' ? downloadFile() : convertToGif()
      "
    />
  </div>

  <app-upload-info
    [fileName]="file?.name"
    [errorMessage]="errorMessage"
    (removeFileEmitter)="removeFile()"
  />

  <app-gif-container
    [gif]="gif$ | async"
    (downloadGifEmitter)="downloadGif($event)"
  />
</div>
